.v-card__text,
.v-card__title {
  word-break: normal !important;
}

.nuxt-content h1 {
  /* my custom h1 style */
}

.nuxt-content p {
  /* my custom h1 style */
}

/* disable highlight on active buttons
https://github.com/vuetifyjs/vuetify/issues/8172 */
.v-btn--active.no-active:not(:focus):not(:hover)::before
{
  opacity: 0 !important;
}
